<body>
<div class="row">
  <div class="col-1-of-3">
    <div class="card">
      <div class="card__side card__side--front-1">
        <div class="card__title card__title--1">
          <h3 class="fas fa-paper-plane"> Jenkins</h3>
        </div>

        <div class="card__details">
            <img src="./assets/jenkins.png">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__cta">
          <div class="card__price-box">
            <p class="card__price-only">Enter Ip Address</p>
            <input type="text" class="ipaddr">	
          </div>
          <a href="#popup" class="btn btn--white">Test Ping</a>
          <br>
          <br>
          <button class="btn btn--white"(click)="goToMetrics()" >Submit</button>

        </div>
      </div>
    </div>
  </div>
  <div class="col-1-of-3">
    <div class="card">
      <div class="card__side card__side--front-1">
        <div class="card__title card__title--1">
          <h3 class="fas fa-paper-plane"> SonarQube</h3>
        </div>

        <div class="card__details">
            <img src="./assets/sonarqube.png">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__cta">
          <div class="card__price-box">
            <p class="card__price-only">Enter Ip Address</p>
            <input type="text" class="ipaddr">	
          </div>
          <a href="#popup" class="btn btn--white">Test Ping</a>
          <br>
          <br>
          <button class="btn btn--white" (click)="goToMetrics()">Submit</button>

        </div>
      </div>
    </div>
  </div>
  <div class="col-1-of-3">
    <div class="card">
      <div class="card__side card__side--front-1">
        <div class="card__title card__title--1">
          <h3 class="fas fa-paper-plane"> GitLab</h3>

        </div>

        <div class="card__details">
            <img src="./assets/gitlab.png">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__cta">
          <div class="card__price-box">
            <p class="card__price-only">Enter Ip Address</p>
            <input type="text" class="ipaddr">	
          </div>
          <a href="#popup" class="btn btn--white">Test Ping</a>
          <br>
          <br>
          <button class="btn btn--white" (click)="goToMetrics()">Submit</button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-1-of-3">
    <div class="card">
      <div class="card__side card__side--front-1">
        <div class="card__title card__title--1">
          <h3 class="fas fa-paper-plane"> Dependency</h3>
          <h3 class="fas fa-paper-plane"> Track</h3>
        </div>

        <div class="card__details">
            <img src="./assets/dependency.png">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__cta">
          <div class="card__price-box">
            <p class="card__price-only">Enter Ip Address</p>
            <input type="text" class="ipaddr">	
          </div>
          <a href="#popup" class="btn btn--white">Test Ping</a>
          <br>
          <br>
          <button class="btn btn--white" (click)="goToMetrics()">Submit</button>

        </div>
      </div>
    </div>
  </div>

  <div class="col-1-of-3">
    <div class="card">
      <div class="card__side card__side--front-1">
        <div class="card__title card__title--1">
          <h4 class="fas fa-paper-plane">Jfrog</h4>
        </div>

        <div class="card__details">
            <img src="./assets/jfrog.png">
        </div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__cta">
          <div class="card__price-box">
            <p class="card__price-only">Enter Ip Address</p>
            <input type="text" class="ipaddr">	
          </div>
          <a href="#popup" class="btn btn--white">Test Ping</a>
          <br>
          <br>
          <button class="btn btn--white" (click)="goToMetrics()">Submit</button>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
