<div class="overlay-container">
  <form class="overlay">
    <h2>Project Description</h2>
    <label>Project Name</label>
    <br>
    <input type="text">
    <br>
    
    <label>Category </label>
    <br>

    <div class="optionbox">
      <select>
        <option value="">-- Select Category --</option>
        <option>Infrastructure</option>
        <option>Application</option>

      </select>
    </div>
    <button class="modal__btn" (click)="closeModal()">Close</button>
    <button class="modal__btn" (click)="closeModal(); goToSecondPopup()">Continue</button>
  </form>
</div>
