.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    max-height: 500px;
    overflow-y: auto;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popup-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .popup-body img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    cursor: move;
  }
  