<body>
<div id="wrapper">
   
  
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox" checked>
    
    <div class="menu">
        
      <label class="menu-toggle" for="menu">Metrics</label>
      <ul>
        <li>
            <label for="menu-1">Disk</label>
            <input type="checkbox" id="menu-1" name="menu-1" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-1"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#" (click)="openPopup()">Space utilization</a>
                </li>
                <li>
                  <a href="#">Latency</a>
                </li>
                <li>
                  <a href="#">Read and write throughput</a>
                </li>
            
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-2">Memory </label>
            <input type="checkbox" id="menu-2" name="menu-2" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-2"><span>Toggle2</span></label>
              <ul>
                <li>
                  <a href="#">Utilization </a>
                </li>
                <li>
                  <a href="#">Usage by process
                </a>
                </li>
                <li>
                  <a href="#">Load average </a>
                </li>

              </ul>
            </div>
          </li>
          <li>
            <label for="menu-3">CPU</label>
            <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Utilization</a>
                </li>
                <li>
                  <a href="#">Usage by process </a>
                </li>
                <li>
                  <a href="#">Load average </a>
                </li>
                <li>
                  <a href="#">Context switches</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-4">Infrastructure</label>
            <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
        <li>
          <label for="menu-5">Integration Metrics</label>
          <input type="checkbox" id="menu-5" name="menu-5" class="menu-checkbox">
          <div class="menu">
            <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
            <ul>
              <li>
                <a href="#">Menu-5-1</a>
              </li>
              <li>
                <a href="#">Menu-5-2</a>
              </li>
              <li>
                <a href="#">Menu-5-3</a>
              </li>
              <li>
                <a href="#">Menu-5-4</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
            <label for="menu-6">Server</label>
            <input type="checkbox" id="menu-6" name="menu-6" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-6"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-7">Code Analysis</label>
            <input type="checkbox" id="menu-7" name="menu-7" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-8">Menu-5</label>
            <input type="checkbox" id="menu-8" name="menu-8" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-8"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-9">Menu-5</label>
            <input type="checkbox" id="menu-9" name="menu-9" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-9"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
      </ul>
    </div>
  </div>


  
</body>
